/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import "node_modules/font-awesome/css/font-awesome.min.css";

a {
  text-decoration: none;
}

label.xng-breadcrumb-trail {
  margin-bottom: 0;
  color: orange;
  font-weight: bold;
}

.StripeElement {
  height: 3.125em;
}
