<div class="container">
  <div class="row mt-5">
    <div class="col-6">
      <img
        src="{{ product?.pictureUrl }}"
        alt="{{ product?.name }}"
        class="img-fluid 2-100"
      />
    </div>
    <div class="col-6">
      <h3>{{ product?.name }}</h3>
      <p>{{ product?.price | currency }}</p>
      <div class="d-flex justify-content-start align-items-center gap-3">
        <i
          class="fa fa-minus-circle text-warning"
          style="cursor: pointer; font-size: 2em"
          (click)="decrementQuantity()"
        ></i>
        <span class="fw-bold fs-3">{{ quantity }}</span>
        <i
          class="fa fa-plus-circle text-success"
          style="cursor: pointer; font-size: 2em"
          (click)="incrementQuantity()"
        ></i>
        <button
          (click)="addItemToBasket()"
          class="btn btn-outline-primary btn-lg mx-4"
        >
          Add to Cart
        </button>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 ml-3">
        <h4>Description</h4>
        <p>{{ product?.description }}</p>
      </div>
    </div>
  </div>
</div>
